[submodule "Assets/UnityFramework"]
    path = Assets/UnityFramework
    url = https://github.com/chaolunner/UnityFramework.git
[submodule "Assets/StreamingAssets"]
    path = Assets/StreamingAssets
    url = https://github.com/chaolunner/UnityFrameworkStreamingAssets.git
[submodule "Assets/ABExplorer"]
	path = Assets/ABExplorer
	url = https://github.com/chaolunner/ABExplorer.git
